[submodule "xmurp-ua"]
	path = xmurp-ua
	url = git@github.com:CHN-beta/xmurp-ua.git
[submodule "luci-app-mentohust"]
	path = luci-app-mentohust
	url = git@github.com:BoringCat/luci-app-mentohust.git
[submodule "mentohust"]
	path = mentohust
	url = https://github.com/hyrathb/mentohust.git
[submodule "luci-app-unblockneteasemusic"]
	path = luci-app-unblockneteasemusic
	url = https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic.git
